body {
    background-color:cyan;
}
.container1 {
    text-align: center;
    margin-top: 100px;  
}
p {
    display: inline;
}
.container2 { 
    width: 900px;
    height: 200px;
    margin-top: 100px;
    margin-left: 175px;
    border: 7px solid white;
    background-color: yellow;
}
table {
    margin: auto;
}
td {
    border: 5px solid black;
}
@keyframes border-change {
    0% {
        border: 7px solid white;
        border-left: 7px solid black;
    }
    25% {
        border: 7px solid white;
        border-top: 7px solid green;
    }
    50% {
        border: 7px solid white;
        border-right: 7px solid blue;
    }
    75% {
        border: 7px solid white;
        border-bottom: 7px solid red;
    }
    100% {
        border: 7px solid white;
        border-left: 7px solid black;
    }
}
.container2 {
    animation: border-change 5s linear infinite;
}
@keyframes text-color-change {
    0% {
        color: black;
    }
    25% {
        color: green;
    }
    50% {
        color: blue;
    }
    75% {
        color: red;
    }
    100% {
        color: black;
    }
}
.text {
    animation: text-color-change 5s infinite;
}