body {
    background-color:cyan;
}
.container1 {
    text-align: center;
    margin-top: 100px;  
}
p {
    display: inline;
}
@keyframes text-color-change {
    0% {
        color: black;
    }
    25% {
        color: green;
    }
    50% {
        color: blue;
    }
    75% {
        color: red;
    }
    100% {
        color: black;
    }
}
.container2 {
    animation: text-color-change 5s infinite;
}